Resources/BinaryIcons.cpp filter=lfs diff=lfs merge=lfs -text
Resources/icons/addButton.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/add_green.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/BlackaddrLogo.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/inputTrsPlug.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/MissingEfx.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/screenshot.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/defaultButtonOff.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/defaultEncoder.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/defaultPot.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/delete.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/outputUsb.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/AvalonHourGlass.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/clear.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/inputUsb.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/defaultButtonOn.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/outputTrsPlug.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/save.png filter=lfs diff=lfs merge=lfs -text
Resources/icons/screenshot_noborder.png filter=lfs diff=lfs merge=lfs -text
